@charset "utf-8";

/*---- RESET ----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    
}

body p {
    margin-bottom: 15px;
}

main {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 15px;
    
}